@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text font-sans antialiased overflow-x-hidden selection:bg-accent selection:text-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-header uppercase tracking-wide;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-800 rounded-full hover:bg-gray-700;
}
